In [19]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [29]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [0,1,2,0,1,2]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [30]:
list(zip(outside, inside))

[('G1', 0), ('G1', 1), ('G1', 2), ('G2', 0), ('G2', 1), ('G2', 2)]

In [31]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [0, 1, 2]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [32]:
df = pd.DataFrame(randn(6,2), hier_index,['A','B'])

In [33]:
df

             A         B
G1 0 -0.500509  1.004796
   1  0.011784  1.532212
   2  0.413298 -0.347217
G2 0  0.104196 -1.060735
   1  0.399463  1.065504
   2  1.631083  0.219090

In [39]:
df.loc['G1']

          A         B
1  0.041391 -0.421866
2 -1.465249  1.016797
3  0.118159  0.743420

In [40]:
df.loc['G1'].loc[1]

A    0.041391
B   -0.421866
Name: 1, dtype: float64

In [42]:
df.index.names = ['Groups','Num']

In [43]:
df

                   A         B
Groups Num
G1     1    0.041391 -0.421866
       2   -1.465249  1.016797
       3    0.118159  0.743420
G2     1   -0.625102  1.277945
       2    0.053489 -0.884810
       3   -0.491349  1.558015

In [45]:
df.loc['G2']

            A         B
Num
1   -0.625102  1.277945
2    0.053489 -0.884810
3   -0.491349  1.558015

In [46]:
df.loc['G2'].loc[2]

A    0.053489
B   -0.884810
Name: 2, dtype: float64

In [47]:
df.loc['G2'].loc[2]['B']

-0.8848100725918928

In [48]:
df

                   A         B
Groups Num
G1     1    0.041391 -0.421866
       2   -1.465249  1.016797
       3    0.118159  0.743420
G2     1   -0.625102  1.277945
       2    0.053489 -0.884810
       3   -0.491349  1.558015

In [51]:
 df.xs('G1')

            A         B
Num
1    0.041391 -0.421866
2   -1.465249  1.016797
3    0.118159  0.743420

In [52]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.041391 -0.421866
G2     -0.625102  1.277945